@model BoardBloom.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity
@using BoardBloom.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_Layout";
}

@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/Users/UserProfile.css" />
    <script src="~/js/User/UserProfile.js"></script>
</head>

<div class="user-profile-wrapper">
    <div class="user-profile-header">
        <div class="user-profile-picture-wrapper">
            @if (Model.ProfilePicture != null) {
                <img class="user-profile-picture" src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" alt="Profile Picture" />
            } else {
                <img class="user-profile-picture" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" />
            }
            @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) == Model.Id) {
                <div class="user-profile-picture-actions">
                    <a class="user-profile-picture-button" href="/Users/EditProfilePicture/@Model.Id">Edit</a>
                    <button class="user-profile-picture-button" onclick="deleteProfilePicture('@Model.Id')">Delete</button>
                </div>
            }
        </div>
        <div class="user-profile-picture-header-info">
            <h2 class="user-profile-title">@Model.UserName</h2>
            <div class="user-profile-info">
                <p class="user-profile-info-item">Email: @Model.Email</p>
                <div class="user-profile-info-sub">
                    <p class="user-profile-info-item">Boards: @ViewBag.Boards.Count</p>
                    <p class="user-profile-info-item">Blooms: @ViewBag.Blooms.Count</p>
                </div>
            </div>
        </div>
    </div>

    <div class="user-profile-boards-wrapper">
        <p class="user-profile-boards-title">User's boards</p>
        <div class="user-profile-boards">
            @if (ViewBag.Boards == null || ViewBag.Boards.Count == 0) {
                <p class="user-profile-no-boards">No boards found</p>
            } else {
                @foreach (Board board in ViewBag.Boards) {
                    @Html.Partial("_BoardPreviewPartial", board)
                }
            }
        </div>
    </div>

    <div class="user-profile-boards-wrapper">
        <p class="user-profile-blooms-title">User's blooms</p>
        <div class="user-profile-blooms">
            @if (ViewBag.Blooms == null || ViewBag.Blooms.Count == 0) {
                <p class="user-profile-no-blooms">No blooms found</p>
            } else {
                @foreach (Bloom bloom in ViewBag.Blooms) {
                    @Html.Partial("_BloomPartial", bloom)
                }
            }
        </div>
    </div>
</div>