@model BoardBloom.ViewModels.BloomsPreviewViewModel
@{
    Layout = null;
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <link rel="stylesheet" href="~/css/Blooms/_BloomPreviewPartial.css" />
</head>

<a class="bloom-preview-card" id="@Model.Bloom.Id" href="/Blooms/Show/@Model.Bloom.Id">
     @if(IsImage(Model.Bloom.Image))
    {
        <img class="bloom-preview-image" src="@Model.Bloom.Image" alt="bloom image" />
    }
    else if(IsEmbeddedLink(Model.Bloom.Image))
    {
        <iframe class="bloom-preview-image"
        controls
        src="@Url.Content(Model.Bloom.Image)"
        frameborder="0"
        allowfullscreen>
        </iframe>    
    } else {
        <p class="bloom-preview-text">@Model.Bloom.Title</p>
    }

    @if(ViewBag.IsBloomPreviewable != null && ViewBag.IsBloomPreviewable)
    {
        <div class="bloom-preview-overlay">
            <div class="bloom-preview-info">
                <div class="bloom-preview-subinfo">
                    <p>@Model.Bloom.TotalLikes</p>
                    <img class="bloom-preview-info-icon" src="https://icons.veryicon.com/png/o/miscellaneous/ui-basic-linear-icon/like-106.png" alt="like icon" />
                </div>
                <div class="bloom-preview-subinfo">
                    @if (Model.Bloom.Comments != null)
                    {
                        <p>@Model.Bloom.Comments.Count()</p>
                    }
                    else
                    {
                        <p>0</p>
                    }
                    <img class="bloom-preview-info-icon" src="https://cdn.iconscout.com/icon/free/png-256/free-comment-2652894-2202811.png" alt="comment icon" />
                </div>
            </div>
            @if(SignInManager.IsSignedIn(User))
            {
                <form class="bloom-preview-form" method="POST" action="/Boards/RemoveBloomFromBoard/@Model.BoardId">
                    <input type="hidden" name="bloomId" value="@Model.Bloom.Id" />
                    <button class="bloom-preview-remove-button">Remove</button>
                </form>
            }
        </div>
    }
</a>

@functions {
    private bool IsImage(string url)
    {
        var imageExtensions = new[] { ".jpg", ".jpeg", ".png", ".gif", ".bmp" };
        if(url.LastIndexOf('.') == -1)
        {
            return false;
        }
        var extension = url.Substring(url.LastIndexOf('.')).ToLower();
        return imageExtensions.Contains(extension);
    }

    private bool IsEmbeddedLink(string url) 
    {
        return url.Contains("youtube.com") || url.Contains("vimeo.com") || url.Contains("youtu.be");
    }
}