@model BoardBloom.Models.Bloom

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <link rel="stylesheet" href="~/css/Blooms/BloomEdit.css" />
    <script src="~/js/Bloom/BloomEdit.js"></script>
</head>

<div class="edit-bloom-wrapper">
    <h1 class="edit-bloom-title">Change your<br/><span class="edit-bloom-title-span">Bloom</span></h1>
     <div class="edit-bloom-forms-wrapper">
            <div class="edit-bloom-form" style="display: flex;">
                <input 
                    type="text"
                    id="image" 
                    name="image"
                    class="edit-bloom-form-input" 
                    placeholder="Image URL"
                    value="@Model.Image"
                    required 
                />

                <input
                    type="text"
                    id="title" 
                    name="title"
                    class="edit-bloom-form-input" 
                    placeholder="Title"
                    value="@Model.Title"
                    required
                />

                <textarea
                    id="content" 
                    name="content"
                    class="edit-bloom-form-textarea"
                    placeholder="Content"
                    required>@Model.Content</textarea>
                
                <input type="hidden" name="userId" id="userId" value="@UserManager.GetUserId(User)" />
                <input type="hidden" name="date" id="date" value="@DateTime.Now" />
                <input type="hidden" name="title" id="title" value="placeholder_text" />
                <input type="hidden" name="id" id="id" value="@Model.Id" />
                <button class="edit-bloom-form-submit" onclick="nextStep()">Preview</button>
            </div>
     </div>

     <div id=preview-area></div>
</div>