@model BoardBloom.Models.Bloom
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <link rel="stylesheet" href="~/css/Blooms/BloomNew.css" />
    <script src="~/js/Bloom/BloomNew.js"></script>
</head>

<div class="new-bloom-wrapper">
    <h1 class="new-bloom-title">Spawn a new beautiful<br /><span class="new-bloom-title-span">Bloom</span></h1>

    @{
        // Store communityId in a hidden field to access it in JavaScript
        var communityId = ViewBag.communityId;
    }
    <input type="hidden" id="communityIdField" value="@communityId" />

    <div class="new-bloom-tabview">
        <div class="new-bloom-tabview-buttons">
            <button class="new-bloom-tabview-button new-bloom-tabview-button-active" onclick="openTab(0)">Image post</button>
            <button class="new-bloom-tabview-button" onclick="openTab(1)">Text post</button>
        </div>

        <div class="new-bloom-forms-wrapper">
            <!-- Image Post Form -->
            <div class="new-bloom-form" style="display: flex;">
                <input type="text"
                       name="image"
                       class="new-bloom-form-input"
                       placeholder="Image URL"
                       required />
                <textarea name="content"
                          class="new-bloom-form-textarea"
                          placeholder="Content"
                          required></textarea>

                <input type="hidden" name="userId" value="@UserManager.GetUserId(User)" />
                @Html.AntiForgeryToken()
                <button class="new-bloom-form-submit" onclick="nextStep(document.getElementById('communityIdField').value)">Preview</button>
            </div>

            <!-- Text Post Form -->
            <div class="new-bloom-form" style="display: none;">
                <input type="text"
                       name="title"
                       class="new-bloom-form-input"
                       placeholder="Title"
                       required />
                <textarea name="content"
                          class="new-bloom-form-textarea"
                          placeholder="Content"
                          required></textarea>

                <input type="hidden" name="userId" value="@UserManager.GetUserId(User)" />
                @Html.AntiForgeryToken()
                <button class="new-bloom-form-submit" onclick="nextStep(document.getElementById('communityIdField').value)">Preview</button>
            </div>
        </div>
    </div>

    <!-- Preview Area -->
    <div id="preview-area" style="display: none;">
    </div>
</div>