@model BoardBloom.Models.Board

<br />

<h2 class="mb-5 text-center"
    style="font-family: 'Rubik Doodle Shadow', cursive;">
    Adaugare Board
</h2>

<br />


@using (Html.BeginForm(actionName: "New", controllerName: "Boards", method: FormMethod.Post))
{

    @Html.Label("Name", "Denumire board")
    <br />

    @Html.TextBox("Name", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })

    <br />

    @Html.Label("Note", "Nota creatorului")
    <br />

    @Html.TextBox("Note", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Note, null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn" style="background-color: #3838b2; color: #ffffff;" type="submit">Adauga board</button>

}