@model 	BoardBloom.Models.Board

@if (Model.BloomBoards.Count > 0)

    @foreach (var bloomBoards in Model.BloomBoards)
    {
        <div class="col-12">
            <div class="card mx-auto" style="max-width: 700px;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" style="display: flex; justify-content: space-between;">
                        <li class="nav-item">
                            <a class="user-link" href="@Url.Action("UserProfile", "Users", new { userId = bloomBoards.Bloom.User.Id })">
                                <i class="bi bi-person"></i> @bloomBoards.Bloom.User.UserName
                            </a>
                        </li>


                        <li class="nav-item">
                            <a>
                                @bloomBoards.Bloom.Date
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">

                    @Html.Partial("BloomInfo", bloomBoards.Bloom)

                    <div class="card-text">@bloomBoards.Bloom.Content</div>

                    <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">
                        <a class="btn btn"
                           style="background-color: #3838b2; color: #ffffff;"
                           href="/Blooms/Show/@bloomBoards.Bloom.Id">Afisare Bloom</a>

                        @if (bloomBoards.Board.UserId == ViewBag.UserCurent)
                        {
                            <form method="post" action="/Blooms/RemoveFromBoard/">
                                <input type="hidden" name="bloomId" value="@bloomBoards.BloomId" />
                                <input type="hidden" name="boardId" value="@bloomBoards.BoardId" />

                                <button class="btn btn-danger" type="submit">Sterge Bloom-ul din Board</button>
                            </form>
                        }

                    </div>

                </div>
            </div>
            <br />
        </div>


    }

</div>
